.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/images/main-background.jpeg) no-repeat center center;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  min-height: 480px;
}

.info {
  max-width: 600px;
  text-align: center;
  margin: auto;
}
